<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<div class="navbar-fixed">
  <nav class="teal accent-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Takanori HARA</a>
      <ul id="nav-mobile" class="top-nav right hide-on-med-and-down">
        <li><a href="#!">Home</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#publication">Publication</a></li>
      </ul>
    </div>
  </nav>
</div>
