<div class="row">
  <div class="col-sm-8">
    <h1>Takanori HARA</h1>
    <h2>Ph.D Student</h2>
    <p>
    <font>
      <a href="http://www-lsm.naist.jp/">Large-Scale Systems Management Laboratory</a>
      <br>
      <a href="http://isw3.naist.jp/home-ja.html">Division of Information Science</a>
      <br>
      <a href="http://www.naist.jp/">Nara Institute of Science and Technology</a>
    </font>
    </p>
    <address>
      <font>
        Address: 8916-5 Takayama-cho, Ikoma, Nara 630-0192, Japan
        <br>
        Email: hara.takanori.hm8[at]is.naist.jp, hara[at]ieee.org
      </font>
    </address>
  </div>
  <div class="col-sm-4">
    <img src="/avatar.jpg">
  </div>
</div>
