<div class="row">
  <div class="col-sm-8" id="profile">
    <br>
    <span id="h1">原 崇徳</span>
    <br>
    <span id="h2">助教授</span>
    <br>
    <p>
    <font>
      <a href="http://www.naist.jp/">奈良先端科学技術大学院大学</a>
      <br>
      <a href="http://isw3.naist.jp/home-ja.html">情報科学領域</a>
      <br>
      <a href="http://www-lsm.naist.jp/">大規模システム管理研究室</a>
    </font>
    </p>
    <address>
      <font>
        住所: 〒630-0192 奈良県生駒市高山町8916-5
        <br>
        Email: hara.takanori[at]is.naist.jp, hara[at]ieee.org
      </font>
    </address>
  </div>
  <div class="col-sm-4">
    <img src="/avatar.jpg">
  </div>
</div>
